* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.heading h5 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 33%;
}

.gambar {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 42px;
}

.jarak_nama {
  margin-top: 25px;
}

.lesson-icon {
  color: #5f5d60;
}

.lesson-icon h2 {
  font-weight: normal;
}

.lesson-icon p {
  top: 44%;
  width: 100%;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}
