@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900');
* {
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #a5a5a5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    text-align: -webkit-match-parent;
}

div {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.super-container {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #3f6fce;
    z-index: 200;
    border-bottom: solid 1px transparent;
    border-image: linear-gradient(to right, #487fee, #32fa95);
    border-image-slice: 1;
    opacity: 0.9;
}

.header-content {
    height: 80px;
    width: 100%;
    float: left;
}

.header-content .logo {
    float: left;
    margin-top: 1%;
    margin-left: 20px;
}

.header-content nav {
    float: left;
    margin-left: 80px;
    margin-right: 80px;
}

.header-content nav li {
    float: left;
    margin-left: 20px;
    padding: 32px 20px;
}

.header-content a {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

a::selection {
    background: #32f996;
    color: #FFFFFF;
}

.main-nav ul li.active a,
.main-nav ul li a:hover {
    color: #2cd983;
}

.phone-num {
    float: left;
    border-radius: 22px;
    background: linear-gradient(to right, #487fee, #32fa95);
    padding: 2px;
    overflow: hidden;
    margin-top: 20px;
}

.phone-num-inner {
    width: 100%;
    height: 100%;
    padding-left: 16px;
    padding-right: 18px;
    background: #3f6fce;
    border-radius: 20px;
}

.logo img {
    height: 60px;
}

.phone-num-inner img {
    height: 10px;
}

.phone-num span {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: 11px;
    line-height: 39px;
}

.home {
    width: 100%;
    height: 100vh;
    max-height: 892px;
}

.home-slider-container {
    width: 100%;
    height: 100%;
}

.home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slide-container {
    width: 100%;
    top: 42%;
}

.slide-content {
    max-width: 700px;
}

.home-subtitle {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 0.75;
}

.home-title {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.2;
    margin-top: 11px;
}

.home-details {
    display: inline-block;
    background: linear-gradient(to right, #487fee, #32fa95);
    border-radius: 16px;
    padding-top: 3px;
    margin-top: 8px;
    align-items: center;
    justify-content: start;
}

.home-details-list {
    height: 32px;
    padding-left: 26px;
    padding-right: 44px;
}

.home-details-list li:not(:last-child) {
    margin-right: 30px;
}

.home-details-list li {
    display: inline-block;
}

.home-details-image {
    display: inline-block;
    width: 23px;
    height: 14px;
    margin-right: 4px;
    display: flex;
    flex: auto;
}

.home-details-image span {
    display: inline-block;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    margin-left: 5px;
}

.home-price {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 19px;
}

.home-search {
    width: 100%;
    z-index: 100;
}

.home-search-container {
    position: absolute;
    top: -171px;
    left: 15px;
    width: calc(100% - 30px);
    height: 90px;
    border-radius: 45px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.33);
}

.home-search-content {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 35px;
}

.search-form {
    position: relative;
    height: 100%;
    display: flex;
    flex: auto;
}

.search-form-content {
    width: 100%;
    height: 100%;
    padding-left: 14px;
    padding-right: 11px;
    display: flex;
}

.search-form-content>div:not(:last-child) {
    border-right: solid 2px #d1d1d1;
}

.search-form-content>div {
    width: 20%;
    height: 100%;
    padding-left: 18px;
    padding-right: 2px;
}

.search-form-select {
    display: block;
    position: relative;
    top: 40%;
    width: 100%;
    appearance: none;
    background-image: url(https://preview.colorlib.com/theme/bluesky/images/down.png);
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 400;
    color: #6b6b6b;
    cursor: pointer;
    flex: auto;
}

.search-form-button {
    width: 193px;
    height: 100%;
    border-radius: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(to right, #487fee, #32fa95);
    overflow: visible;
    flex: auto;
}